<div class="todo-form-container">

  <div class="todo-form-controls-container">
    <i class="fa fa-arrow-left" title="Back" (click)="saveTodo()"></i>
    <i class="fa fa-trash-o" title="Delete" (click)="deleteTodo()"></i>
  </div>
  <form [formGroup]="todoForm">
    <label>
      <mat-checkbox class="circular-checkbox" formControlName="isComplete" title="Is Complete"></mat-checkbox>
      <input type="text" formControlName="title" class="title-text" placeholder="Enter title">
    </label>
    <label>
      <i class="fa fa-commenting-o"></i>
      <input type="text" formControlName="notes" placeholder="Add notes">
    </label>
    <label>
      <i class="fa fa-calendar-check-o"></i>
        <input type="text" formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date" (focus)="picker.open()" (click)="picker.open()">
        <mat-datepicker #picker></mat-datepicker>
    </label>
    <label>
      <i class="fa fa-list"></i>
      <div class="sub-task-container">
        <div formArrayName="tasks">
          <div *ngFor="let task of tasks.controls; let i=index">
            <div formGroupName="{{i}}">
              <label>
                <input type="text" formControlName="title" class="task-title" placeholder="Enter title">
                <i class="fa fa-remove" title="Back" (click)="removeTask(i)"></i>
              </label>
            </div>
          </div>
        </div>
        <input type="text" readonly="readonly" value="Add task" (click)=addTask() class="task-title add-task-button">
      </div>
    </label>
  </form>
</div>
